SPEECHMATICS_API_KEY=YOUR_API_KEY

# SPEECHMATICS_RT_URL=wss://eu-west-2-research.speechmatics.cloud/v2
SPEECHMATICS_RT_URL=wss://eu2.rt.speechmatics.com/v2

LIVEKIT_URL=wss://YOUR_URL.livekit.cloud
LIVEKIT_API_KEY=YOUR_API_KEY
LIVEKIT_API_SECRET=YOUR_API_SECRET

OPENAI_API_KEY=YOUR_API_KEY
SONIOX_API_KEY=YOUR_API_KEY
DEEPGRAM_API_KEY=YOUR_API_KEY
ELEVEN_API_KEY=YOUR_API_KEY
